<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="LOKI_URL" source="logging.loki.url" defaultValue="http://127.0.0.1:3100/loki/api/v1/push"/>
    <springProperty name="APP_NAME" source="spring.application.name" defaultValue="app"/>

    <!-- Loki appender: activate Spring profile "loki" (see docker-compose). No Janino required. -->
    <springProfile name="loki">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${LOKI_URL}</url>
            </http>
            <format>
                <label>
                    <pattern>service=${APP_NAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} thread=%thread level=%5level logger=%logger - %msg%n%ex</pattern>
                </message>
            </format>
            <verbose>false</verbose>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="!loki">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
